* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
}

.button1 {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.button2 {

    background: url('try1.jpg') no-repeat center;

    position: absolute;
    border: none;
    outline: none;
    right: 0px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    border-radius: 10%;
}

.button3 {

    background: url('try3.jpg') no-repeat center;

    position: absolute;
    border: none;
    outline: none;
    right: 50px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    border-radius: 10%;
}

ul li {
    list-style: decimal;
    font-size: 17px;
    padding: 0px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}